
server:
  port: 13000

spring:
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  application:
    name: xiaofei-search
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  thymeleaf:
    cache: false